uwsgi  # Linux only!
flask
jsonpath-rw
redis
requests
rq
git+https://github.com/slackhq/python-slackclient.git@39de60050e  # Python3 support
rq-dashboard
six
Flask-Debug
flask-appconfig
couchdb

# Test dependencies
pytest
mock
