# Basic dependencies
## Application
uwsgi  # Linux only!
flask
flask-debug
flask-appconfig
requests
six
## Test dependencies
pytest
mock

# Job queue
flask-rq
rq-dashboard
rq-gevent-worker
#DEPENDENCIES rq
#DEPENDENCIES redis

# Help pages
markdown2

# Database
couchdb

# APIs
git+https://github.com/slackhq/python-slackclient.git@39de60050e  # Python3 support

# jsonsub
jsonpath-rw
